.header {
    background-color: rgb(0, 94, 148);
    color: white;
    display: flex;
    justify-content: center;
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.headerList {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.headerListItem {
    display:flex;
    align-items: center;
    gap: 10px;
}

.headerListItem.active{
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}

.headerDescription {
    margin: 20px 0px;
}

.headerButton{
    background-color: rgb(22, 148, 221);
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
}